.card {
  border-radius: 1rem;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
  max-width: 540px;
  transition: .3s ease;
}

.card:hover {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
  transform: translateY(-10px);
}

.thumb__container {
  background-color: gray;
  aspect-ratio: 3 / 2;
}

.thumb {
  width: 100%;
  object-fit: contain;
}

.content {
  text-align: left;
  padding: 0.5rem;
}

.title {
  font-weight: bold;
}

.description {
  margin: 0.5rem 0 2rem 0;
}

.btn {
  background-color: yellow;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
}
