@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

ul {
  list-style: none;
}

header,
footer,
main {
  text-align: center;
  padding: 2rem;
}

img {
  display: block;
 max-width: 100%;
  height: 100%;
}

main {
  flex-grow: 1;
}

footer {
  background-color: #181818;
  color: #fff;
}

button {
  cursor: pointer;
  outline: 0;
  border: 0;
  background-color: transparent;
}

.hero {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
